<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Car Dealership</title>
  </head>
  <body class="container">
    <h1><em><strong>Welcome One, Welcome All</em></strong></h1>
    <h1><em><strong>You have arrived...!!!!</em></strong></h1>
    <h1 class="jumbotron">CAR DEALERSHIP!</h1>
    <a href='/cars'><em><strong>Click Here To See Our Cars!</em></strong></a>
    <a href='/admin'><em><strong>Admin ONLY</em></strong></a>
  </body>
</html>
